{% extends "base/content.html" %}

{% load static %}

{% block content %}
    <h1>Dokumente</h1>
    <table class="table dokumente">
        <thead>
            <tr>
                <th>Datum</th>
                <th width="40%">Dokument</th>
                <th>Beschreibung</th>
            </tr>
        </thead>
        <tbody>
            {% for dokument in dokument_list %}
                <tr>
                    <td>{{ dokument.datum|date:"d.m.Y" }}</td>
                    <td>
                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                        <strong><a href="{{ dokument.dokument.datei.url }}" target="_blank">{{ dokument.titel }}</a></strong>
                    </td>
                    <td>{{ dokument.beschreibung|linebreaksbr }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Keine Dokumente vorhanden.
                </td>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
