{% extends "base/site.html" %}

{% load static %}

{% block main %}
<div class="header">
    {% include 'base/navigation.html' %}
    <div class="container">
        <div class="welcome">
            <p>
                Die SEPAWA ist die Vereinigung der Seifen-, Parfüm- und Waschmittelfachleute und bezweckt die Aus- und Weiterbildung aller
                Tätigen in den Branchen:
            </p>
            <ul>
                <li>Wasch- und Reinigungsmittel</li>
                <li>Kosmetik</li>
                <li>Parfümerie</li>
            </ul>
            <div class="bracket d-none d-sm-block">”</div>
        </div>
        <div class="hidden-xs">
            <div class="row partner-container featured-partner">
                {% for partner in partner_featured %}
                    {% include 'index.partner.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<a name="neuigkeiten"></a>
<div class="brighter">
    <div class="container">
        <h1>Neuigkeiten</h1>
        {% for neuigkeit in neuigkeit_list %}
            <h2>{{ neuigkeit.datum|date:'d.m.Y' }} &mdash; {{ neuigkeit.titel }}</h2>
            <p>
                {{ neuigkeit.inhalt|striptags|truncatewords:30|safe }}
                <strong><a href="/neuigkeit/{{ neuigkeit.id }}/">Mehr</a></strong>
            </p>
        {% empty %}
            <p>Keine Neuigkeiten vorhanden.</p>
        {% endfor %}
        <p><small><a href="/neuigkeiten">Ältere Inhalte anzeigen</a></small></p>
    </div>
</div>
<a name="partner"></a>
<div class="darker">
    <div class="container">
        <h1>Partner</h1>
        <div class="row partner-container">
            {% for partner in partner_list %}
                {% include 'index.partner.html' %}
            {% endfor %}
        </div>
    </div>
</div>
<a name="portrait"></a>
<div class="brighter">
    <div class="container">
        <h1>Portrait</h1>
        <p>
            <p>
                Die SEPAWA will Wissen und spezifische Branchenerfahrungen interdisziplinär weitervermitteln. Dies geschieht durch:
            </p>
            <ul>
                <li>Veranstaltung von Fachtagungen, Vorträgen und Exkursionen</li>
                <li>Unterstützung und Förderung von wissenschaftlichen Arbeiten</li>
                <li>Unterstützung und Förderung bei der Publkation von Fachartikeln</li>
                <li>Mitarbeit bei der Erarbeitung von Lehrmitteln</li>
                <li>Förderung des Berufsnachwuches</li>
                <li>Zusammenarbeit mit artverwandten Vereinigungen und Verbänden</li>
                <li>Aufbau und Pflege von Beziehungen zu internationalen Organisationen, welche ähnliche Ziele verfolgen</li>
            </ul>
        </p>
        <p>
            Die SEPAWA ist Plattform für den permanenten Meinungsaustausch unter Fachleuten der unterschiedlichen Produktionsstufen und
            hilft so mit, den Branchenerfolg für die Zukunft zu sichern.
        </p>
        <p>
            Als Mitglied erhalten Sie Zugang zum SEPAWA Jahreskongress, an welchem hochkarätige Referenten aktuelle Themen behandeln.
            Lokale Fachveranstaltungen und Exkursionen ermöglichen Einblicke in unterschiedlichste Themengebiete und bieten
            Gelegenheit für den Gedankenaustausch unter Mitgliedern.
        </p>
        <h2>Vorstand</h2>
        <div class="vorstand row">
            <div class="mitglied col-xs-12 col-sm-6">
                <div class="inner">
                    <img src="{% static 'img/portrait/ruedi.jpg' %}">
                    <span>
                        <strong>Präsident</strong>
                        <br>Ruedi Gitzi
                        <br>
                        <a href="mailto:praesident@sepawa.ch">Email</a>
                    </span>
                </div>
            </div>
            <div class="mitglied col-xs-12 col-sm-6">
                <div class="inner">
                    <img src="{% static 'img/portrait/marco.jpg' %}">
                    <span>
                        <strong>Aktuar und Stv. Präsident</strong>
                        <br>Marco Bracher
                        <br>
                        <a href="mailto:m.bracher@hydrior.ch">Email</a>
                    </span>
                </div>
            </div>
            <div class="mitglied col-xs-12 col-sm-6">
                <div class="inner">
                    <img src="{% static 'img/portrait/roland.jpg' %}">
                    <span>
                        <strong>Kassier</strong>
                        <br>Roland Borner
                        <br>
                        <a href="mailto:kassier@sepawa.ch">Email</a>
                    </span>
                </div>
            </div>
            <div class="mitglied col-xs-12 col-sm-6">
                <div class="inner">
                    <img src="{% static 'img/portrait/thomas.jpg' %}">
                    <span>
                        <strong>Verbindung zur Hochschule</strong>
                        <br>Thomas Hofmann
                        <br>
                        <a href="mailto:htom@zhaw.ch">Email</a>
                    </span>
                </div>
            </div>
            <div class="mitglied col-xs-12 col-sm-6">
                <div class="inner">
                    <img src="{% static 'img/portrait/horst.jpg' %}">
                    <span>
                        <strong>Mitglied des Vorstandes der SEPAWA e.V.</strong>
                        <br>Dr. Horst Lothar Möhle
                        <br>
                        <a href="mailto:lothar.moehle@kolb.ch">Email</a>
                    </span>
                </div>
            </div>
            <div class="mitglied col-xs-12 col-sm-6">
                <div class="inner">
                    <img src="{% static 'img/portrait/marina.jpg' %}">
                    <span>
                        <strong>Vertreterin der Parfümindustrie</strong>
                        <br>Marina Simeunovic
                        <br>
                        <a href="mailto:simeunovic.marina@luzi.ch">Email</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<a name="links"></a>
<div class="darker">
    <div class="container links">
        <h1>Links</h1>

        <h2>Dateien</h2>
        <div class="row">
            <div class="link-name col-xs-12 col-sm-6">Anmeldeformular SEPAWA Schweiz</div>
            <div class="link-url col-xs-12 col-sm-6"><a href="{% static 'file/anmeldeformular_mitgliedschaft_sepawa_schweiz.pdf' %}" target="_blank">PDF</a></div>
        </div>

        <h2>Nützliche Links</h2>
        <div class="row">
            <div class="link-name col-xs-12 col-sm-6">Anmeldestelle Chemikalien (BAG)</div>
            <div class="link-url col-xs-12 col-sm-6"><a href="http://www.bag.admin.ch" target="_blank">www.bag.admin.ch</a></div>
        </div>
        <div class="row">
            <div class="link-name col-xs-12 col-sm-6">Übersetzer D/E/F/ES</div>
            <div class="link-url col-xs-12 col-sm-6"><a href="http://dict.leo.org" target="_blank">dict.leo.org</a></div>
        </div>
        <div class="row">
            <div class="link-name col-xs-12 col-sm-6">Zolltarife EU (TARIC)</div>
            <div class="link-url col-xs-12 col-sm-6"><a href="http://ec.europa.eu/taxation_customs/dds2/taric" target="_blank">ec.europa.eu</a></div>
        </div>
        <div class="row">
            <div class="link-name col-xs-12 col-sm-6">Zolltarife Schweiz (TARES)</div>
            <div class="link-url col-xs-12 col-sm-6"><a href="http://xtares.admin.ch/tares" target="_blank">xtares.admin.ch</a></div>
        </div>

        <h2>Schulen / Weiterbildung</h2>
        <div class="row">
            <div class="link-name col-xs-12 col-sm-6">Chemiestudium an der Fachhochschule Wädenswil</div>
            <div class="link-url col-xs-12 col-sm-6"><a href="http://www.lsfm.zhaw.ch" target="_blank">www.lsfm.zhaw.ch</a></div>
        </div>
        <div class="row">
            <div class="link-name col-xs-12 col-sm-6">Hochschule Luzern, Technik &amp; Architektur</div>
            <div class="link-url col-xs-12 col-sm-6"><a href="http://www.hslu.ch/technik-architektur" target="_blank">www.hslu.ch</a></div>
        </div>

        <h2>Verbände / Vereine</h2>
        <div class="row">
            <div class="link-name col-xs-12 col-sm-6">Deutsche Gesellschaft für wissenschaftliche und angewandte Kosmetik E.V.</div>
            <div class="link-url col-xs-12 col-sm-6"><a href="http://www.dgk-ev.de" target="_blank">www.dgk-ev.de</a></div>
        </div>
        <div class="row">
            <div class="link-name col-xs-12 col-sm-6">Gesellschaft Schweizerischer Kosmetik-Chemiker</div>
            <div class="link-url col-xs-12 col-sm-6"><a href="http://www.swissscc.ch" target="_blank">www.swissscc.ch</a></div>
        </div>
        <div class="row">
            <div class="link-name col-xs-12 col-sm-6">Schweizerischer Kosmetik- und Waschmittelverband SKW</div>
            <div class="link-url col-xs-12 col-sm-6"><a href="http://www.skw-cds.ch" target="_blank">www.skw-cds.ch</a></div>
        </div>

        <h2>Zeitschriften</h2>
        <div class="row">
            <div class="link-name col-xs-12 col-sm-6">CHEManager</div>
            <div class="link-url col-xs-12 col-sm-6"><a href="http://ww.chemanager-online.com" target="_blank">www.chemanager-online.com</a></div>
        </div>
        <div class="row">
            <div class="link-name col-xs-12 col-sm-6">Chemie Technik</div>
            <div class="link-url col-xs-12 col-sm-6"><a href="http://www.chemietechnik.de" target="_blank">www.chemietechnik.de</a></div>
        </div>
        <div class="row">
            <div class="link-name col-xs-12 col-sm-6">COSSMA Cosmetics, Spray Technology and Marketin</div>
            <div class="link-url col-xs-12 col-sm-6"><a href="http://www.cossma.com" target="_blank">www.cossma.com</a></div>
        </div>
        <div class="row">
            <div class="link-name col-xs-12 col-sm-6">Euro Cosmetics</div>
            <div class="link-url col-xs-12 col-sm-6"><a href="http://www.eurocosmetics-magazine.com" target="_blank">www.eurocosmetics-magazine.com</a></div>
        </div>
        <div class="row">
            <div class="link-name col-xs-12 col-sm-6">European Journal of Lipid Science and Technology</div>
            <div class="link-url col-xs-12 col-sm-6"><a href="http://www.wiley-vch.de/publish/en/journals/alphabeticIndex/2114/" target="_blank">www.wiley-vch.de</a></div>
        </div>
        <div class="row">
            <div class="link-name col-xs-12 col-sm-6">Kosmetik International</div>
            <div class="link-url col-xs-12 col-sm-6"><a href="http://www.ki-online.de" target="_blank">www.ki-online.de</a></div>
        </div>
        <div class="row">
            <div class="link-name col-xs-12 col-sm-6">Personal Care Magazine</div>
            <div class="link-url col-xs-12 col-sm-6"><a href="http://www.personalcaremagazine.com" target="_blank">www.personalcaremagazine.com</a></div>
        </div>
        <div class="row">
            <div class="link-name col-xs-12 col-sm-6">SOFW Journal</div>
            <div class="link-url col-xs-12 col-sm-6"><a href="http://www.sofw.com" target="_blank">www.sofw.com</a></div>
        </div>
        <div class="row">
            <div class="link-name col-xs-12 col-sm-6">Tenside Surfactants Detergents Journal (TDS)</div>
            <div class="link-url col-xs-12 col-sm-6"><a href="http://www.tsdjournal.com" target="_blank">www.tsdjournal.com</a></div>
        </div>
        <div class="row">
            <div class="link-name col-xs-12 col-sm-6">The Chemical Week</div>
            <div class="link-url col-xs-12 col-sm-6"><a href="http://www.chemweek.com" target="_blank">www.chemweek.com</a></div>
        </div>
    </div>
</div>
{% endblock %}
