{% extends "base/site.html" %}

{% load static %}

{% block main %}
<div class="header">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{% static 'img/logo.png' %}" alt="Home" style="width: 220px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#neuigkeiten">Neuigkeiten</a>
                        <span class="indicator"></span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#partner">Partner</a>
                        <span class="indicator"></span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portrait">Portrait</a>
                        <span class="indicator"></span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#links">Links</a>
                        <span class="indicator"></span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/intern">Intern</a>
                        <span class="indicator"></span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="welcome">
            <p>
                Die SEPAWA ist die Vereinigung der Seifen-, Parfüm- und Waschmittelfachleute und bezweckt die Aus- und Weiterbildung aller
                Tätigen in den Branchen:
            </p>
            <ul>
                <li>Wasch- und Reinigungsmittel</li>
                <li>Kosmetik</li>
                <li>Parfümerie</li>
            </ul>
            <div class="bracket d-none d-lg-block d-xl-block">”</div>
        </div>
        <div class="welcome-partner d-none d-lg-block d-xl-block">
            <div class="floating-container">
                {% for partner in partner_featured %}
                    {% include 'index.partner.html' %}
                {% endfor %}
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<a name="neuigkeiten"></a>
<div class="brighter">
    <div class="container">
        <h1>Neuigkeiten</h1>
        {% for neuigkeit in neuigkeit_list %}
            <h2>{{ neuigkeit.datum|date:'d.m.Y' }} &mdash; {{ neuigkeit.titel }}</h2>
            <p>
                {{ neuigkeit.inhalt|striptags|truncatewords:30|safe }}
                <strong><a href="/neuigkeit/{{ neuigkeit.id }}">Mehr</a></strong>
            </p>
        {% empty %}
            <p>Keine Neuigkeiten vorhanden.</p>
        {% endfor %}
    </div>
</div>
<a name="partner"></a>
<div class="darker">
    <div class="container">
        <h1>Partner</h1>
        <div class="floating-container">
            {% for partner in partner_list %}
                {% include 'index.partner.html' %}
            {% endfor %}
            <div class="clear"></div>
        </div>
    </div>
</div>
<a name="portrait"></a>
<div class="brighter">
    <div class="container">
        <h1>Portrait</h1>
        <p>
            <p>
                Die SEPAWA will Wissen und spezifische Branchenerfahrungen interdisziplinär weitervermitteln. Dies geschieht durch:
            </p>
            <ul>
                <li>Veranstaltung von Fachtagungen, Vorträgen und Exkursionen</li>
                <li>Unterstützung und Förderung von wissenschaftlichen Arbeiten</li>
                <li>Unterstützung und Förderung bei der Publkation von Fachartikeln</li>
                <li>Mitarbeit bei der Erarbeitung von Lehrmitteln</li>
                <li>Förderung des Berufsnachwuches</li>
                <li>Zusammenarbeit mit artverwandten Vereinigungen und Verbänden</li>
                <li>Aufbau und Pflege von Beziehungen zu internationalen Organisationen, welche ähnliche Ziele verfolgen</li>
            </ul>
        </p>
        <p>
            Die SEPAWA ist Plattform für den permanenten Meinungsaustausch unter Fachleuten der unterschiedlichen Produktionsstufen und
            hilft so mit, den Branchenerfolg für die Zukunft zu sichern.
        </p>
        <p>
            Als Mitglied erhalten Sie Zugang zum SEPAWA Jahreskongress, an welchem hochkarätige Referenten aktuelle Themen behandeln.
            Lokale Fachveranstaltungen und Exkursionen ermöglichen Einblicke in unterschiedlichste Themengebiete und bieten
            Gelegenheit für den Gedankenaustausch unter Mitgliedern.
        </p>
        <h2>Vorstand</h2>
        <div class="vorstand floating-container">
            <div class="mitglied">
                <img src="{% static 'img/portrait/ruedi.jpg' %}">
                <span>
                    <strong>Präsident</strong>
                    <br>Ruedi Gitzi
                    <br>
                    <a href="mailto:praesident@sepawa.ch">Email</a>
                </span>
            </div>
            <div class="mitglied">
                <img src="{% static 'img/portrait/marco.jpg' %}">
                <span>
                    <strong>Aktuar und Stv. Präsident</strong>
                    <br>Marco Bracher
                    <br>
                    <a href="mailto:praesident@sepawa.ch">Email</a>
                </span>
            </div>
            <div class="mitglied">
                <img src="{% static 'img/portrait/roland.jpg' %}">
                <span>
                    <strong>Kassier</strong>
                    <br>Roland Borner
                    <br>
                    <a href="mailto:praesident@sepawa.ch">Email</a>
                </span>
            </div>
            <div class="mitglied">
                <img src="{% static 'img/portrait/thomas.jpg' %}">
                <span>
                    <strong>Verbindung zur Hochschule</strong>
                    <br>Dr. Thomas Hofmann
                    <br>
                    <a href="mailto:praesident@sepawa.ch">Email</a>
                </span>
            </div>
            <div class="mitglied">
                <img src="{% static 'img/portrait/horst.jpg' %}">
                <span>
                    <strong>Mitglied des Vorstandes der SEPAWA e.V.</strong>
                    <br>Dr. Horst Lothar Möhle
                    <br>
                    <a href="mailto:praesident@sepawa.ch">Email</a>
                </span>
            </div>
            <div class="mitglied">
                <img src="{% static 'img/portrait/marina.jpg' %}">
                <span>
                    <strong>Vertreterin der Parfümindustrie</strong>
                    <br>Marina Simeunovic
                    <br>
                    <a href="mailto:praesident@sepawa.ch">Email</a>
                </span>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<a name="links"></a>
<div class="darker">
    <div class="container">
        <h1>Links</h1>
        <h2>Nützliche Links</h2>
        <table class="links">
            <tr>
                <td>Anmeldestelle Chemikalien (BAG)</td>
                <td>
                    <a href="http://www.bag.admin.ch" target="_blank">www.bag.admin.ch</a>
                </td>
            </tr>
            <tr>
                <td>Übersetzer D/E/F/ES</td>
                <td>
                    <a href="http://dict.leo.org" target="_blank">dict.leo.org</a>
                </td>
            </tr>
            <tr>
                <td>Zolltarife EU (TARIC)</td>
                <td>
                    <a href="http://ec.europa.eu/taxation_customs/dds2/taric" target="_blank">ec.europa.eu/taxation_customs/dds2/taric</a>
                </td>
            </tr>
            <tr>
                <td>Zolltarife Schweiz (TARES)</td>
                <td>
                    <a href="http://xtares.admin.ch/tares  " target="_blank">xtares.admin.ch/tares</a>
                </td>
            </tr>
        </table>

        <h2>Schulen / Weiterbildung</h2>
        <table class="links">
            <tr>
                <td>Chemiestudium an der Fachhochschule Wädenswil</td>
                <td>
                    <a href="http://www.lsfm.zhaw.ch" target="_blank">www.lsfm.zhaw.ch</a>
                </td>
            </tr>
            <tr>
                <td>Hochschule Luzern, Technik &amp; Architektur</td>
                <td>
                    <a href="http://www.hslu.ch/technik-architektur" target="_blank">www.hslu.ch/technik-architektur</a>
                </td>
            </tr>
        </table>

        <h2>Verbände / Vereine</h2>
        <table class="links">
            <tr>
                <td>Deutsche Gesellschaft für wissenschaftliche und angewandte Kosmetik E.V.</td>
                <td>
                    <a href="http://www.dgk-ev.de" target="_blank">www.dgk-ev.de</a>
                </td>
            </tr>
            <tr>
                <td>Gesellschaft Schweizerischer Kosmetik-Chemiker</td>
                <td>
                    <a href="http://www.swissscc.ch" target="_blank">www.swissscc.ch</a>
                </td>
            </tr>
            <tr>
                <td>Schweizerischer Kosmetik- und Waschmittelverband SKW</td>
                <td>
                    <a href="http://www.skw-cds.ch" target="_blank">www.skw-cds.ch</a>
                </td>
            </tr>
        </table>

        <h2>Zeitschriften</h2>
        <table class="links">
            <tr>
                <td>CHEManager</td>
                <td>
                    <a href="http://ww.chemanager-online.com" target="_blank">www.chemanager-online.com</a>
                </td>
            </tr>
            <tr>
                <td>Chemie Technik</td>
                <td>
                    <a href="http://www.chemietechnik.de" target="_blank">www.chemietechnik.de</a>
                </td>
            </tr>
            <tr>
                <td>COSSMA Cosmetics, Spray Technology and Marketin</td>
                <td>
                    <a href="http://www.cossma.com" target="_blank">www.cossma.com</a>
                </td>
            </tr>
            <tr>
                <td>Euro Cosmetics</td>
                <td>
                    <a href="http://www.eurocosmetics-magazine.com" target="_blank">www.eurocosmetics-magazine.com</a>
                </td>
            </tr>
            <tr>
                <td>European Journal of Lipid Science and Technology</td>
                <td>
                    <a href="http://www.wiley-vch.de/publish/en/journals/alphabeticIndex/2114/" target="_blank">www.wiley-vch.de</a>
                </td>
            </tr>
            <tr>
                <td>Kosmetik International</td>
                <td>
                    <a href="http://www.ki-online.de" target="_blank">www.ki-online.de</a>
                </td>
            </tr>
            <tr>
                <td>Personal Care Magazine</td>
                <td>
                    <a href="http://www.personalcaremagazine.com" target="_blank">www.personalcaremagazine.com</a>
                </td>
            </tr>
            <tr>
                <td>SOFW Journal</td>
                <td>
                    <a href="http://www.sofw.com" target="_blank">www.sofw.com</a>
                </td>
            </tr>
            <tr>
                <td>Tenside Surfactants Detergents Journal (TDS)</td>
                <td>
                    <a href="http://www.tsdjournal.com" target="_blank">www.tsdjournal.com</a>
                </td>
            </tr>
            <tr>
                <td>The Chemical Week</td>
                <td>
                    <a href="http://www.chemweek.com" target="_blank">www.chemweek.com</a>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
