{% extends "base/content.html" %}

{% load static %}

{% block content %}
    <h1>Neuigkeiten</h1>
    <table class="table neuigkeiten">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Titel</th>
            </tr>
        </thead>
        <tbody>
            {% for neuigkeit in neuigkeit_list %}
                <tr>
                    <td>{{ neuigkeit.datum|date:'d.m.Y' }}</td>
                    <td><strong><a href="/neuigkeit/{{ neuigkeit.id }}/">{{ neuigkeit.titel }}</a></strong></td>
                    <td>{{ dokument.beschreibung|linebreaksbr }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Keine Neuigkeiten vorhanden.
                </td>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
